/*
Button snippet 
author: @KevinKickback
https://github.com/kevinkickback/Tashas-Notes-of-Everything
*/

/* Index Button Adjustment */ 
.callButton button {
    border: 1px solid #9f9f9f !important;
    border-radius: 5px !important;
    background-color: #2b2b2b !important;
    padding: 10px 20px;
    color: var(--link-color);
    text-decoration: none;
    font-size: var(--button-size);
    margin: 0 5px;
	cursor: pointer;
	margin-bottom: 10px;
}

.callButton button:hover {
    background-color: var(--interactive-accent) !important;
    color: white;
}

.index .callout-content {
    text-align: center;
}