/*--- List display horizontally ---*/
.index .dataview.list-view-ul  {
    display: flex;
    gap: 25px;
    flex-direction: row;
    flex-wrap: wrap;
}

/*--- adjust dot spacing ---*/
.index .dataview.list-view-ul li span{
	position: relative;
	left: -8px;
	margin-right: 15px;
}
.listMe li {
  list-style-type: none; /* Remove default marker */
}

.listMe li::before {
  margin-left: -20px;
  position: relative;
  content: "\2022"; /* Unicode for bullet character */
  left: -5px;
  color: inherit; /* Inherit color from parent (default) */
  font-size: 1.3em; /* Adjust font size to make the marker larger */
}